/* Styling */

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    background-color: #C0392B;
    position: relative;
}

.logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lucida Sans';
    color: azure;
    letter-spacing: 2px;
}

nav{
    width: 70%;
    float: right;
    text-align: right;
    line-height: 100px;
}

nav a{
    text-decoration: none;
    font-family: 'Lucinda Sans';
    letter-spacing: 1px;
    font-size: 20px;
    color: azure;
    padding: 36px 10px;
    margin: 0 1px;
}

nav a:hover{
    background-color: azure;
    font-family: 'Lucinda Sans';
    color:black
}

.banner-area{
    background-image: url("../img/about_us_background.jpg");
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-area h2{
    padding-top: 8%;
    font-size: 80px;
    color: #C0392B;
}

.company{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.company .roles{
    line-height: 20px;
    position: relative;
}

.company.roles.h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.company .roles .roles_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
}