<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>DIS</h5>
                <h3>CREATIVITY ABOVE</h3>
                <ul class="contact-nav">
                    <li><a data-scroll href="{{ url_for('home') }}">Home</a></li>
                    <li><a data-scroll href="{{ url_for('about') }}">About Us</a></li>
                    <li><a data-scroll href="{{ url_for('portfolio') }}">Portfolio</a></li>
                    <li><a data-scroll href="{{ url_for('chat') }}">Chat</a></li>
                    <li><a data-scroll href="{{ url_for('services') }}">Services</a></li>
                    <li><a data-scroll href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
                <h6>© 2022 - DIS, All Right Reserved</h6>
                <ul class="social">
                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                    <li><a href="#"><i class="icofont-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>