{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<!-- HERO SECTION -->
    <div class="container-fluid hero">
        <img alt="" src="{{ url_for('static', filename='images/hero.png')}}">
        <div class="container">
            <!-- Hero Title -->
            <h1>The Spirit of<br>Digital Agency.</h1>
            <!-- Hero Title Info -->
            <p>
                We are upcoming Technology Consulting and Management company<br>
                in the city of Tampa, which is known for the vibrant Ybor City,<br>
                lush parks, and business hub.
            </p>
            <div class="hero-btns">
                <!-- Hero Btn First -->
                <a data-scroll href="{{ url_for('about') }}">More About us</a>
                <!-- Hero Btn Second -->
                <a data-scroll href="{{ url_for('contact') }}">Get in Touch.</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>
    
        <script>
            $SCRIPT_ROOT = {{ request.script_root|tojson }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    
</header>
{% endblock %}