{% extends "layout.html" %}
{% block title %}
Services
{% endblock %}
{% block content %}
<!-- SERVICES SECTION -->
<section class="services" id="about-us">
    <div class="container-fluid">
        <div class="side-img">
            <img alt="" src="{{ url_for('static', filename='images/aside.png')}}">
        </div>
        <div class="side2-img">
            <img alt="" src="{{ url_for('static', filename='images/aside2.png')}}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>SERVICES</h5>
                    <h2>We Offer</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="service-box">
                        <img alt="" src="{{ url_for('static', filename='images/service-icon1.png')}}">
                        <!-- Service Title -->
                        <h3>Technology<br>Management</h3>
                        <!-- Replace Patch to Image Under -->
                        <div class = "expandMoreContent" id="showMoreContent1">
                            <p>
                                We provide a full range of IT consulting services including technology needs analysis, IT strategic
                                planning, corporate relocations, cyber-security consulting and more. We have helped our clients with the
                                following services:
                            </p>
                            <ul>
                                <li>1. Establishing standards, reducing risks, increasing the efficiency of the product and creating a 3 or
                                    5 technology strategic plan.
                                </li>
                                <li>2. Upgrading to the latest and most appropriate technology using the RFP methodology process.</li>
                                <li>3. Ensuring the client&apos;s infrastructure is protected against growing ransomware threats and data
                                    breaches, especially in virtual environments.
                                </li>
                            </ul>
                        </div>
                        <div class ="expandMoreHolder">
                            <span expand-more data-hidetext = "Show Less.." data-showtext = "Show More..." data-target = "showMoreContent1"
                            class = "btn-expand-more">
                            Show More...
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="service-box">
                        <img alt="" src="{{ url_for('static', filename='images/service-icon1.png')}}">
                        <!-- Service Title -->
                        <h3>Data<br>Analytics</h3>
                        <!-- Replace Patch to Image Under -->
                        <div class = "expandMoreContent" id="showMoreContent2">
                            <p>
                                DIS services manage data for both operational and analytical purposes. The company analyzes data to
                                drive business processes to improve outcomes via effective decision-making.
                            </p>
                            <p>
                                The core services we provide are data strategy, operational model design, data management analytics,
                                business intelligence, data science and machine learning.
                            </p>
                        </div>
                        <div class ="expandMoreHolder">
                            <span expand-more data-hidetext = "Show Less.." data-showtext = "Show More..." data-target = "showMoreContent2"
                            class = "btn-expand-more">
                            Show More...
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="service-box">
                        <img alt="" src="{{ url_for('static', filename='images/service-icon1.png')}}">
                        <!-- Service Title -->
                        <h3>Logistics<br>Services</h3>
                        <!-- Replace Patch to Image Under -->
                        <div class = "expandMoreContent" id="showMoreContent3">
                            <p>
                                Good sourcing strategies are indispensable to the growth of a technology firm especially when it needs
                                to run an efficient procurement operation. It boosts the procurement&apos;s performance, delivers
                                massive
                                savings and gives the company a competitive edge. Our company&apos;s unified end-to-end procurement
                                platform
                                makes it easier for tech firms to find the right suppliers while streamlining source-to-contract
                                operations.
                            </p>
                        </div>
                        <div class ="expandMoreHolder">
                            <span expand-more data-hidetext = "Show Less.." data-showtext = "Show More..." data-target = "showMoreContent3"
                            class = "btn-expand-more">
                            Show More...
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="service-box">
                        <img alt="" src="{{ url_for('static', filename='images/service-icon1.png')}}">
                        <!-- Service Title -->
                        <h3>Decision<br>Support</h3>
                        <!-- Replace Patch to Image Under -->
                        <div class = "expandMoreContent" id="showMoreContent4">
                            <p>
                                With our interactive information system, we can analyze large volumes of data for making business
                                decisions. Our service includes supporting management and operations, and planning levels for
                                organizations to help them make better decisions and reduce the uncertainties and trade-offs involved in
                                choosing a decision over another.
                            </p>
                        </div>
                        <div class ="expandMoreHolder">
                            <span expand-more data-hidetext = "Show Less.." data-showtext = "Show More..." data-target = "showMoreContent4"
                            class = "btn-expand-more">
                            Show More...
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="service-box">
                        <img alt="" src="{{ url_for('static', filename='images/service-icon1.png')}}">
                        <!-- Service Title -->
                        <h3>Database<br>Design</h3>
                        <!-- Replace Patch to Image Under -->
                        <div class = "expandMoreContent" id="showMoreContent5">
                            <p>
                                We also help our client&apos;s in building sophisticated databases to ease their data storage, making it
                                easy for them to collect and store their data safely. We work with our clients to build a personalized database that fits best for their business structure.
                                Additionally, we also provide maintenance services when a client chooses to have a database.
                            </p>
                        </div>
                        <div class ="expandMoreHolder">
                            <span expand-more data-hidetext = "Show Less.." data-showtext = "Show More..." data-target = "showMoreContent5"
                            class = "btn-expand-more">
                            Show More...
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="service-box">
                        <img alt="" src="{{ url_for('static', filename='images/service-icon1.png')}}">
                        <!-- Service Title -->
                        <h3>Marketing<br>Services</h3>
                        <!-- Replace Patch to Image Under -->
                        <div class = "expandMoreContent" id="showMoreContent6">
                            <p>
                                DIS services help its clients&apos; technology products to get discovered in the market. The marketing
                                services we provide help our clients garner more attention towards their products/services and make the
                                most of available opportunities. We work with our clients to create a custom plan that fits their
                                business needs. Our team leverages your company&apos;s business valuable content to improve its
                                visibility in
                                the market.
                            </p>
                        </div>
                        <div class ="expandMoreHolder">
                            <span expand-more data-hidetext = "Show Less.." data-showtext = "Show More..." data-target = "showMoreContent6"
                            class = "btn-expand-more">
                            Show More...
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}